@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  --grey-darkest: #1F2123;
  --grey-dark: #26282B;
  --grey: #35383D;
  --grey-light: #98A4AC;
  --grey-lightest: #F7F7F7;

  --pink: #F76666;
  --blue: #23C5C5;
  --green: #A6DC37;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--grey-lightest);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
